#survey {
    position: relative;
    margin: 5vh auto 10vh auto;
}

.card {
    padding: 15px;
    margin: 2rem;
    border: 2px solid #ce833d;
    color: #fff;
    background-color: rgba(24, 24, 24, 0.7);
}

.form-group {
    margin: 30px;
    text-align: center;
}

.form-control {
    width: 50%;
    border: 1px solid #ce833d;
    margin: auto;
}

label {
    font-size: 1.5rem;
    background: rgba(24, 24, 24, 0.3)
}

body {
    background-image: url(./images/surveyBG.jpg);
    background-size: 2700px;
    background-repeat: no-repeat;
}

.btn {
    background-color: rgb(58, 58, 58);
    border: 1px solid #ce833d;
    text-decoration: none;
    text-align: center;
    width: 25%;
    display: block;

}

.btn:hover {
    background-color: #ce833d;
    border: 1px solid #ce833d;
    
}

#resultImg {
    float: left;
    background-color: #fff;
    border: 2px solid #ce833d;
    border-radius: 10px;
}

#heroName {
    text-align: center;
    font-size: 3rem;
    margin-top: 12vh;
}

.modal-content {
    background-image: url(./images/OWbackground.jpg)
    
}

.modal-body {
    border: 2px solid #ce833d;
    border-top: none;
    border-bottom: none;
    color: #fff;
}

.modal-header {
    border: 2px solid #ce833d;
    border-bottom: none;
    color: #fff;
}

.modal-footer {
    border: 2px solid #ce833d;
    border-top: none;
}

#modalBtn {
    text-align: center;
    background: #ce833d;
}

.close {
    color: #fff;
}
